@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #18181b;
  --color-foreground: #fefce8;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: #facc15;
  --color-sidebar-border: #facc15;
  --color-sidebar-accent-foreground: #18181b;
  --color-sidebar-accent: #fde047;
  --color-sidebar-primary-foreground: #18181b;
  --color-sidebar-primary: #facc15;
  --color-sidebar-foreground: #fefce8;
  --color-sidebar: #292524;
  --color-chart-5: #fde047;
  --color-chart-4: #facc15;
  --color-chart-3: #eab308;
  --color-chart-2: #ca8a04;
  --color-chart-1: #a16207;
  --color-ring: #facc15;
  --color-input: #292524;
  --color-border: #facc15;
  --color-destructive: #f87171;
  --color-accent-foreground: #18181b;
  --color-accent: #fde047;
  --color-muted-foreground: #fefce8;
  --color-muted: #292524;
  --color-secondary-foreground: #18181b;
  --color-secondary: #fde047;
  --color-primary-foreground: #18181b;
  --color-primary: #facc15;
  --color-popover-foreground: #fefce8;
  --color-popover: #292524;
  --color-card-foreground: #fefce8;
  --color-card: #18181b;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #18181b;
  --foreground: #fefce8;
  --card: #18181b;
  --card-foreground: #fefce8;
  --popover: #292524;
  --popover-foreground: #fefce8;
  --primary: #facc15;
  --primary-foreground: #18181b;
  --secondary: #fde047;
  --secondary-foreground: #18181b;
  --muted: #292524;
  --muted-foreground: #fefce8;
  --accent: #fde047;
  --accent-foreground: #18181b;
  --destructive: #f87171;
  --border: #facc15;
  --input: #292524;
  --ring: #facc15;
  --chart-1: #fde047;
  --chart-2: #facc15;
  --chart-3: #eab308;
  --chart-4: #ca8a04;
  --chart-5: #a16207;
  --sidebar: #292524;
  --sidebar-foreground: #fefce8;
  --sidebar-primary: #facc15;
  --sidebar-primary-foreground: #18181b;
  --sidebar-accent: #fde047;
  --sidebar-accent-foreground: #18181b;
  --sidebar-border: #facc15;
  --sidebar-ring: #facc15;
}

.dark {
  --background: #18181b;
  --foreground: #fefce8;
  --card: #18181b;
  --card-foreground: #fefce8;
  --popover: #292524;
  --popover-foreground: #fefce8;
  --primary: #facc15;
  --primary-foreground: #18181b;
  --secondary: #fde047;
  --secondary-foreground: #18181b;
  --muted: #292524;
  --muted-foreground: #fefce8;
  --accent: #fde047;
  --accent-foreground: #18181b;
  --destructive: #f87171;
  --border: #facc15;
  --input: #292524;
  --ring: #facc15;
  --chart-1: #fde047;
  --chart-2: #facc15;
  --chart-3: #eab308;
  --chart-4: #ca8a04;
  --chart-5: #a16207;
  --sidebar: #292524;
  --sidebar-foreground: #fefce8;
  --sidebar-primary: #facc15;
  --sidebar-primary-foreground: #18181b;
  --sidebar-accent: #fde047;
  --sidebar-accent-foreground: #18181b;
  --sidebar-border: #facc15;
  --sidebar-ring: #facc15;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
